.container-nav {
  padding: 1rem;
  background-color: #333;
  color: white;
  position: relative;
}
header {
  max-width:1460px;
  margin:0 auto;
  padding:0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.container-nav a.logo-plani {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:white;
  font-size:4.1em;
  font-weight: 700;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-item {
  position: relative;
  margin: 0 15px;
}

.navbar-item a {
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.07em;
  color: white;
  text-decoration: none;
  padding: 0px 0px 3px;
  display: block;
  font-weight: 400;
  position: relative;
}

.navbar-item a::before, 
.navbar-item a::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #eee;
  bottom: 0;
  transition: all 0.3s ease;
}

.navbar-item a::before {
  left: 50%;
}

.navbar-item a::after {
  right: 50%;
}

.navbar-item:hover a::before {
  width: 50%;
  left: 0;
}

.navbar-item:hover a::after {
  width: 50%;
  right: 0;
}


.toggle-mode {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.07em;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-weight: 400;
}

header .cart {
  color:#fff;
}

.cart div span svg {
  font-size:2.3rem;
}